<!DOCTYPE html>
<html lang="en" ng-app="webstore">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sample Webshop</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    </head>
    <body ng-controller="WebstoreController as store">
        <div class="container" ng-view ng-controller="CartController as cart">
            <div class="product-list" >
                <h1>Tuotteet</h1>
                <ul>
                    <li ng-repeat="product in store.products"> {{product.name}} {{product.price | currency:"€"}} <button class="btn btn-default btn-xs" ng-click="cart.addProduct(product);">Lisää ostoskoriin</button></li>
                </ul>
            </div>
            <div class="cart">
                <h1>Ostoskori</h1>
                <ul>
                    <li ng-repeat="item in cart.cartItems"> {{item.product.name}} {{item.count}}kpl, yht. {{cart.getItemTotalSum(item) | currency:"€"}} (alv. {{cart.getItemTotalSumVat(item) | currency:"€"}})  <button class="btn btn-default btn-xs" ng-click="cart.reduceProduct(item.product);"><span class="glyphicon glyphicon glyphicon-minus" aria-hidden="true"></span></button> <button class="btn btn-default btn-xs" ng-click="cart.removeProduct(item.product);"><span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span></button></li>
                </ul>
                <p ng-show="cart.cartItems.length>0">Yhteensä {{cart.getTotalSum() | currency:"€"}}</p>
                <p ng-show="cart.cartItems.length<1">Ostoskorissa ei ole tuotteita</p>
                <button type="button" class="btn btn-default" ng-show="cart.cartItems.length>0" ng-click="cart.makeOrder()">Tilaa</button>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
        <script type="text/javascript" src="./app.js"></script>
        <script type="text/javascript" src="./products.js"></script>
        <script type="text/javascript" src="./cart.js"></script>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </body>
</html>